/catalog/cache/
/catalog/out/
/catalog/zkout/
/catalog/src/skyhunters/

/catalog/!/broadcast
/catalog/broadcast/*/31337/
/catalog/broadcast/**/dry-run/
/catalog/install.log

/catalog/docs/
/catalog/lib/*
/catalog/.github/

/catalog/.env


/print/cache/
/print/out/
/print/zkout/
/print/src/skyhunters/

/print/!/broadcast
/print/broadcast/*/31337/
/print/broadcast/**/dry-run/
/print/install.log

/print/docs/
/print/lib/*
/print/.github/

.github/
/print/.env
